h1{
    padding-bottom: 5%;
    text-align: center;
    margin-top: 30px !important;
}
table{
    color: white;
}

td.nazwa{
    background-color: rgba(51, 51, 51, 0.8);
}

td.cena{
    background-color: #8a4182d6;
}
 td:hover{
     background-color: #bc9fc1;
 }
