@import url('https://fonts.googleapis.com/css?family=Prosto+One');
body {
    color: #8a4182;
    font-family: 'Prosto One', cursive;
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

nav{
    text-transform: uppercase;
}
.navbar{
    padding: 1.5rem 1rem;
}
