h1{
    color: #8a4182;
    padding-left: 2%;
    text-align: center;
    margin: 30px !important;
}
td{
    padding-top: 25px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

/*.btn{*/
    /*color: white;*/
    /*border-radius: 0px;*/
    /*background: #333;*/
    /*text-decoration: none;*/
    /*text-align: center;*/
    /*height: 60px;*/

/*}*/

table{
    border: solid #aaaaaa;
    margin-left: 2%;

}
.zaj{
    margin-bottom: 20px;
}
.btn:hover{
    background: #8a4182;
    border-color: #8a4182
}
.btn-primary:active{
    background-color: #8a4182;
    border-color: #8a4182;
}
.zaj .btn{
    margin-top: 10px;
    margin-left: 2%;
}

.btn-primary {
    background-color: #343a40;
    border-color: #343a40;
}